/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

div.indent {
    margin-left: 10px;
    margin-top: 5px
}

div.textBoxAlign {
    width: 120px;
    height: 25px
}

div.textBoxAlignItem,
div.textBoxAlignEquip,
div.textBoxAlignFlags {
    width: 300px;
    height: 25px
}

input.textBoxAlign,
input.textBoxAlignItem,
input.textBoxAlignEquip,
input.textBoxAlignFlags {
    float: right;
    height: 21px;
}

input.textBoxAlignItem {
    width: 25px;
    text-align: right;
}

input.textBoxAlign {
    width: 55px;
    text-align: right;
}

input.textBoxAlignEquip {
    width: 150px;
}

input.textBoxAlignFlags {
    width: 100px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

label {
    display: inline-block;
    min-width: 230px;
    vertical-align: middle;
}

.zebra {
    height: 21px;
    margin-bottom: 2px;
    padding-left: 5px;
}

.zebra:nth-child(odd) {
    background: #f1f1f1;
}
